@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");
@import "tailwindcss";

@theme {
  --font-utama: "Poppins", sans-serif;
  --font-nama: "Sacramento", sans-serif;
  --font-head: "Great Vibes", sans-serif;
}

@layer base {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 8s linear infinite;
  }
  .animate-shine {
    animation: shine 5s linear infinite;
  }
}
